<nav class="bg-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Left side with SVG logo -->
    <div class="flex items-center">
      <img src="assets/images/logo.svg" class="logo" alt="Glaciares del Sur">
    </div>

    <!-- Right side with paragraph -->
    <p>Phone: <a href="whatsapp://send?text=Hola Glaciares del Sur!&phone=+56 9 9433 6579">+56 9 9433 6579</a> | <a href="mailto:contacto@glaciaresdelsur.cl">contacto@glaciaresdelsur.cl</a> | <a href="#">www.glaciaresdelsur.cl</a></p>
  </div>
</nav>
