<!-- NAVBAR -->
<app-navbar></app-navbar>

<!-- HERO SECTION -->
<section class="bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900 hero">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-semibold mb-4">Chilean King Crab</h1>
    <a href="whatsapp://send?text=Hola Glaciares del Sur!&phone=+56994336579" class="bg-white text-blue-700 hover:bg-blue-200 text-lg font-semibold px-6 py-3 rounded-full transition duration-300 ease-in-out">Write Us</a>
  </div>
</section>

<section class="hero-down">
  <p class="text-3xl text-center py-5">Exporting rich flavor and wonderful succulent meaty texture from Chilean Patagonia</p>
</section>

<section>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Column 1 -->
      <div class="bg-white shadow-md rounded-lg p-4 border">
        <img src="assets/images/centolla1.png" alt="Image 1" class="w-full h-60 object-cover mb-4 rounded-lg">
        <h2 class="text-xl font-semibold mb-2 font1">Extraction</h2>
        <p class="text-gray-700 font2">We are proud to extract the raw material from the most crystalline and unpolluted waters</p>
      </div>

      <!-- Column 2 -->
      <div class="bg-white shadow-md rounded-lg p-4 border">
        <img src="assets/images/centolla2.png" alt="Image 2" class="w-full h-60 object-cover mb-4 rounded-lg">
        <h2 class="text-xl font-semibold mb-2 font1">Transport</h2>
        <p class="text-gray-700 font2">Fresh Chilean King Crab raw material from the catching zone and fishing boats to our processing plant</p>
      </div>

      <!-- Column 3 -->
      <div class="bg-white shadow-md rounded-lg p-4 border">
        <img src="assets/images/centolla3.png" alt="Image 3" class="w-full h-60 object-cover mb-4 rounded-lg">
        <h2 class="text-xl font-semibold mb-2 font1">Frozen Product</h2>
        <p class="text-gray-700 font2">Frozen whole round and clusters packed in carton boxes with upper protection including plastic bubble coversheet</p>
      </div>
    </div>
  </div>
</section>
