.hero {
  background-color: #f0efef;
  background-image: url('/assets/images/background.jpeg');
  background-size: cover;
  background-position: 50% 50%;

  .font1 {
    font-family: 'Noto Sans', sans-serif;
  }

  @media screen and (max-width: 767px) {
    min-height: 400px;
  }
}
.hero-down {
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 3.5rem;
}

.font1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.font2 {
  font-family: 'Source Sans 3', sans-serif;
}
